body {
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

.mt-100 {
    margin-top: 50px
}

.mb-100 {
    margin-bottom: 50px
}

.card {
    border-radius: 1px !important
}


.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}
table, th, td{
    border: 2px solid black;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
<<<<<<< HEAD
    padding: 10px 10px;
}

.row-height{
    height: 205px;
}
=======
    padding: 10px 15px;
}
.row-height{
    height: 205px;}
>>>>>>> 2bbcd69e56a715348227f5035ddc056501d2bee4
table.table-bordered > thead > tr > th{
    border:4px solid black;
>>>>>>> 20d0a1138308b1b0e5fe6398a280dd175cfc3c5a
}
.btn-sm,
.btn-group-sm>.btn {
    padding: .25rem .5rem;
    font-size: .765625rem;
    line-height: 1.5;
    border-radius: .2rem
}
.alignleft{
    text-align: left;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    align-content: center;
}
.arowwrap{
    width: 100%;
    margin: 10px auto;
    z-index: 25;
    position: absolute;
    bottom: 0;
}
<<<<<<< HEAD
.emptyrows {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px white;
    border-top: 1px white;
}
.um{
    width: 10px;
}
=======
>>>>>>> 2bbcd69e56a715348227f5035ddc056501d2bee4
